In [1]:
import pandas as pd
import numpy as np

In [2]:
data_backup = pd.read_excel('/content/drive/MyDrive/Guvi/Task/Qure.AI/covid-19-state-level-data.xlsx')

In [3]:
data = pd.read_excel('/content/drive/MyDrive/Guvi/Task/Qure.AI/covid-19-state-level-data.xlsx')

In [4]:
data = data.drop(columns= 'Unnamed: 0')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    8154 non-null   datetime64[ns]
 1   state   8154 non-null   object
 2   fips    8154 non-null   int64
 3   cases   8154 non-null   int64
 4   deaths  8154 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 318.6+ KB

In [6]:
data.head()

        date       state  fips  cases  deaths
0 2020-01-21  Washington    53      1       0
1 2020-01-22  Washington    53      1       0
2 2020-01-23  Washington    53      1       0
3 2020-01-24    Illinois    17      1       0
4 2020-01-24  Washington    53      1       0

In [7]:
data['Month'] = data['date'].dt.month
data.head()

        date       state  fips  cases  deaths  Month
0 2020-01-21  Washington    53      1       0      1
1 2020-01-22  Washington    53      1       0      1
2 2020-01-23  Washington    53      1       0      1
3 2020-01-24    Illinois    17      1       0      1
4 2020-01-24  Washington    53      1       0      1

In [8]:
import calendar

# Create a dictionary mapping month names to integers
month_dict = {month_number: month_name for month_number, month_name in enumerate(calendar.month_name) if month_number != 0}

# Print the dictionary
print(month_dict)

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

In [9]:
data['Month_Name'] = data['Month'].map(month_dict)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        8154 non-null   datetime64[ns]
 1   state       8154 non-null   object
 2   fips        8154 non-null   int64
 3   cases       8154 non-null   int64
 4   deaths      8154 non-null   int64
 5   Month       8154 non-null   int64
 6   Month_Name  8154 non-null   object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 446.0+ KB

In [10]:
data= data.drop('date', axis =1)

In [44]:
months= data['Month_Name'].unique()
months= months[2:6]
months

array(['March', 'April', 'May', 'June'], dtype=object)

In [45]:
total_no_of_deaths = data['deaths'].sum()
total_no_of_deaths

11055401

Month-wise Segregation

In [48]:
def month_wise(i):

  sum_by_category = Month_wise.groupby('state')['deaths'].sum()
  sum_by_category = sum_by_category.sort_values(ascending=False)
  highest_num_deaths = sum_by_category.head(3)
  Output = highest_num_deaths.to_frame()
  Output["Death Percentage"]= ((Output['deaths']/total_no_of_deaths)*100).round(2)
  Output.reset_index(inplace = True)


  print("Month -", i)
  print(' ')
  
  for j in range(len(Output)):
    print(Output['state'][j], '-', Output['deaths'][j],', ' ,Output['Death Percentage'][j], '% of US deaths')

  print('----------')

In [59]:
for i in months:
  Month_wise = data[data['Month_Name']== i]
  Summary = month_wise(i)

Month - March

New York - 7943 ,  0.07 % of US deaths
Washington - 2377 ,  0.02 % of US deaths
New Jersey - 1165 ,  0.01 % of US deaths
----------
Month - April

New York - 425198 ,  3.85 % of US deaths
New Jersey - 102708 ,  0.93 % of US deaths
Michigan - 59519 ,  0.54 % of US deaths
----------
Month - May

New York - 854088 ,  7.73 % of US deaths
New Jersey - 308935 ,  2.79 % of US deaths
Massachusetts - 170827 ,  1.55 % of US deaths
----------
Month - June

New York - 918476 ,  8.31 % of US deaths
New Jersey - 388821 ,  3.52 % of US deaths
Massachusetts - 228975 ,  2.07 % of US deaths
----------

Slack / Mail Communication:

In [ ]:
import time
from slack_sdk import WebClient

# Set up Slack API client
slack_token = 'YOUR_SLACK_API_TOKEN'
channel_id = 'YOUR_CHANNEL_ID'
client = WebClient(token=slack_token)

# Define the messages to send
messages = Summary

# Set the time interval between messages (in seconds)
interval = 60  # Change to the desired interval (e.g., 60 seconds for every minute)

# Send messages at the fixed interval
for message in messages:
    # Post the message to the Slack channel
    response = client.chat_postMessage(channel=channel_id, text=message)
    if response['ok']:
        print(f"Message sent: {message}")
    else:
        print(f"Failed to send message: {message}")
    
    # Wait for the specified interval
    time.sleep(interval)

For Security reasons, i have not included the credentials and API token needed.